CONFIGURATIONS="Release"
#CONFIGURATIONS="Release Distribution"
ProvisionFileDistribution=DropsAppsDistribute.mobileprovision
CodesignDistribution="iPhone Distribution: Yunnan Yundian Tongfang Technology Co., Ltd./"
ProvisionFileRelease=DropsAppsDistribute.mobileprovision
CodesignRelease="iPhone Distribution: Yunnan Yundian Tongfang Technology Co., Ltd./"
#OTAURL="http://path/to/my/beta/site"
#OTASmallIcon=appstore/Icon-57.png
#OTALargeIcon=appstore/Icon-512.png
